:root {
    --fonte-principal: "Jolly Lodger";
    --fonte-secundaria: "Rubik";
    --color-principal: #FE772D;
    --color-texto-secudario: #F5F5F5;
    --colo-texto-botao: #292D32;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    width: 100%;
    height: auto;
    background: #000015;
}



#principalOne {
    background-image: url(imagens/backgroud\ img.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0), rgba(0, 0, 21, 1);
    border: none;

}

h1 {
    font-family: var(--fonte-principal);
    color: var(--color-texto-secudario);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    justify-items: center;



}

a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--fonte-secundaria);
    line-height: 150.4%;
    color: #F5F5F5;




}

.botao-reserva {
    padding: 16px 24px;
    border-radius: 16px;
    color: #292D32;
    background: var(--color-principal);
    cursor: pointer;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 48px 1px 50px;
    gap: 150px;

}


.hero {
    padding-top: 70px;
    gap: 10px;
    display: grid;
    color: #fff;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

div.container-calendario {

    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    padding-right: 50px;
}

.titulo-principal {
    font-family: var(--fonte-principal);
    color: var(--color-principal);
    font-size: 65px;
    padding-top: 15px;
    font-weight: 400;
    text-transform: uppercase;


}


/* Galeria*/



.titulo-galeria {
    padding: 100px 0 40px 0;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 55px;
    font-weight: 40;
    text-transform: uppercase;
    color: var(--color-principal);
    font-style: normal;
}

.galeria img {
    width: 243px;
    height: 242px;
    border-radius: 16px;

}

.navegacao-fotos {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: 2;
    justify-content: space-between;
    gap: 3rem;
    column-gap: rem;



}

/* join */
.join {
    padding: 40px 0 40px 0;
    display: grid;
    flex-direction: column;
    grid-template-rows: 5, 1fr;
}

.titulo-join {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-principal);
}

.subtilo-join {
    text-align: center;
    color: #FE2D2D;
    font-family: var(--fonte-principal);
    font-size: 58px;
}


.descricao {

    text-align: center;
    color: #fff;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
    padding: 48px;
}

/*ticket*/

.ticket {
    color: #E6EAEE;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.endereco {

    align-items: center;
    border-radius: 16px;
    border-top: 2px solid #E6EAEE;
    border-right: 2px solid #E6EAEE;
    border-bottom: 2px solid #E6EAEE;
    padding: 12px 24px;



}

.ingresso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 16px;
    border-top: 2px solid #E6EAEE;
    border-bottom: 2px solid #E6EAEE;
    border-left: 2px solid #E6EAEE;

}


.caracteristicas {
    color: #fff;
    padding: 48px;
    align-content: center;
    flex-wrap: wrap;

}

.confirmacoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    align-content: center;
}

.confirma {
    align-content: center;
    justify-content: center;
    gap: 10px;
}

/*Plano de ingresso*/

.planos {
    display: grid;
    grid-template-areas: "esquerda  direita";
    justify-content: space-around;
}


.listagem-planos {
    grid-column: 2/3;
}

.listagem-planosDois {
    grid-row: 1;
}

.titulo-planos {
    margin: 0 0 40px;
}


.cartao-plano {
    width: 344px;
    height: 464px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--Gray, #333);
    width: 344px;
    height: 464px;

}


.informacao {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 20px 0px 20px 0px;



}

.single {
    color: var(--White, #F9F9F9);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    padding: 16px;
}

.valor {
    color: #F9F9F9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.descricao-plano p {
    color: var(--White, #F9F9F9);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin: 43px;

}

.bota-ticket {
    padding: 16px 78px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background-color: var(--color-principal);
    color: #131313;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/*rodape*/
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

#decoracao-mato {
    margin-top: 150px;
    background-image: url(imagens/Vector.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 604px;
    background-size: 100%;

}


.telefone {
    text-align: center;
    padding-top: 400px;
    color: var(--color-principal);
    font-family: Jolly Lodger;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.icon {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    align-items: center;
    gap: 17px;
    cursor: pointer;
}


/*decoracações*/


.decoracao-aranha {
    left: 100px;
    display: flex;
    width: 60px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.decoracao-caveira {
    display: flex;
    position: absolute;
    justify-content: center;
    fill: rgba(51, 51, 51, 0.60);
    margin-left: 2500px;

}

.decoracao-morcego {
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin: 50px;
    gap: 100px;

}

.grupoUm {
    width: 548.93px;
    height: 443.133px;
    flex-shrink: 0;
}

.grupoDois {
    width: 390.269px;
    height: 443.133px;
    flex-shrink: 0;
}